html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-image: url(https://cdn.segodnya.ua/i/original/media/image/5f8/d94/be8/5f8d94be82e70.jpg);
  background-repeat: no-repeat;
}

.timer {
  background-color: cadetblue;
  border-radius: 10px;
  height: 65px;
  width: 340px;
  padding: 15px 18px;
}

.field {
  float: left;
  padding: 5px;
  width: 48px;
  height: 55px;
  display: block;
  margin-left: 24px;
}
